body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    display: flex;
    flex-direction: column;
}

.row{
    border: 1px solid black;
    display: flex;
}

.row div{
    border: 1px solid black;
    min-width: 10vw;
    max-width: 10vw;
}